*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(246, 248, 249);
}

header{
    background-color: white;
}

.logo-container{
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

#logo-boolean{
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
}

.title{
    display: inline-block;
    font-size: 35px;
}

.list-container{
    background-color: white;
    width: 1000px;
    height: 680px;
    margin: 0 auto;
    margin-top: 30px;
}

.bottone{
    padding-top: 20px;
    padding-left: 40px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    
}

.bottone1{
    background-color: rgb(71, 173, 241);
    display:inline-block;
    color: white;
    padding: 7px;
    border-radius: 5px;
    font-size: 10px;
}

.bottone2{
    color: lightgrey;
    display:inline-block;
    padding: 7px;
    border-radius: 5px;
    font-size: 10px;
    border: 1px solid lightgrey;
}



.lista{
    padding: 40px;
    line-height: 50px;
    margin-top: 10px;
}

.lista1{
    list-style: none;
    padding-left: 2px;
    padding-top: 5px;
}

.cerchio-v{
    display: inline-block;
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    line-height: 22px;
    text-align: center;
}

.croce-x{
    display: inline-block;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    line-height: 22px;
    text-align: center;
}

.ed{
    background-color: rgb(69, 171, 234);
    padding: 7px;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

.q1{
    background-color: rgb(156, 114, 228);
    padding: 7px;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

.re{
    background-color: rgb(100, 192, 169);
    padding: 7px;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

.mo{
    background-color: rgb(242, 158, 51);
    padding: 7px;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

.we{
    background-color: rgb(216, 99, 161);
    padding: 7px;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

.sa{
    background-color: rgb(176, 201, 38);
    padding: 7px;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

